nav
{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
}

nav ul li button
{
    background-color: blue;
    color: white;
}

nav ul li
{
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul
{
    text-align: right;
}

nav h2 
{
    text-align: center;
}

body 
{
    background-color: lightblue;
}

   

  .padding-class
{
    border:3px solid light gray;
      margin: 50px 600px 300px 600px;
      padding: 20px 50px 80px 60px;
      text-align: left;
      background-color: white;          
}




   div button {
       background-color: blue;
       color: white;
       text-align: center;
       width: 205px;
       }
    
    div img{
        height: 15%;
        width: 15%;
    }
    
/*
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  */
